<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
  <h1>QCUタスク管理APP</h1>
  <div id="taskAdd">
    <a href="/task">タスク追加</a>
  </div>
  <%= main_box_content(data) %>

</body>
</html>
