<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="add_style.css">
</head>
<body>
  <div id="mainBox">
    <h1 style="text-align: center; font-size: 25px;">タスク追加</h1>
    <form action="/form" method="post">
      <label for="title">タイトル：</label>
      <input type="text" name="title"/>
      <br/>
      <label for="text">内容：</label>
      <textarea name="text"></textarea>
      <br/>
      <input type="submit" value="作成">
    </form>
  </div>
</body>
</html>
