body {
  margin: 20px;
}

h1 {
  text-align: center;
}

#mainBox {
  width: 500px;
  margin: 0 auto;
}

input,
select,
textarea {
  box-sizing: border-box; /* Add this property */
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  border: solid 1px #AAA;
  font-size: 15px;
  width: 100%;
}

textarea {
  height: 100px;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
}
